*+p {
  margin-top: 0 !important;
}

.gray {
  color: dimgray;
}

.small-text {
  font-size: 13px;
}

.very-small-text {
  font-size: 11px;
}

.light-border {
  border-width: 3px;
}

.no-border {
  border: none !important;
}

.bolder {
  font-weight: 500;
}
